@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  overflow: scroll; 
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.bg-light {
  background: linear-gradient(180deg, #FCD7FF 0%, #FFF 100%);
}

.bg-dark {
  background: linear-gradient(180deg, #000 0%, #0E0C0E 29.89%, #FCD9FF 100%);
}
